*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html{
    scroll-behavior: smooth;
}

body{
    
    background-color: rgb(45, 39, 39);
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: ghostwhite;

}

.container{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    color: ghostwhite;
    flex-direction: column;
}

.main-title{
    color: rgb(248, 248, 248);
    font-size: 3em;
    margin-bottom: 50px;
    margin-top: -70px;

}
img{
    width: 75%;
}
.content{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    

}

.content .image{
    position: relative;
    width: 875px;
    overflow: hidden;
}

.content .image img{
  
    object-fit:cover;
    border-radius: 10px;
}

.content .text-box{
    background: rgb(58, 56, 56);
    backdrop-filter: blur(20px);
    padding:40px ;
    max-width: fit-content;
    border-radius: 2px;
    border: 1px solid rgb(45, 39, 39);
    transform: translate(-20px,27px);
}

.content .text-box h3{
    font-size:  2em; 
    margin-bottom: 10px;
}

.media-icons{
    margin-top: 100px;
}

.media-icons a{
    color: ghostwhite;
    font-size: 2em;
    margin: 60px
}

.sec-2{
    margin-left: 300px;
}
.sec-2 .text-box{
    position: relative;
    right: 136px;
}

.sec-2 img{
    margin-left: 180px;
    
}

.sec-2 h3{
    position: relative;
    left: 0rem;
}

.sec-2 .section-title{
    margin-left: -60px;
    font-size: 32px;
    

}

.sec-3 img{
    margin-left: 200px;
    
}
.sec-3 .section-title{
    font-size: 30px;
    
}


.media-info{
    width: 77rem;
    margin-left: 0px;

}

.media-info li{
    font-size: 1.4rem;
    list-style: none;
}

.media-info li a{
    color: ghostwhite;
    text-decoration: none;
}

.media-info li:not(:last-child){
    margin-bottom: 50px;
}

.media-info li:nth-child(1), .media-info li:nth-child(4){
    padding-left: 100px;
}

.media-info li:nth-child(2), .media-info li:nth-child(3){
    padding-left: 50px;
}